.shop{padding:70px 0 40px 0}.shop .title{margin-top:10px}.shop__girl{display:block;margin:0 auto; max-width: 100%}

.shop__point{margin-top:16px}.shop__point span{font-weight:700}.shop__point-price{font-size:24px;font-weight:400!important}.shop__point:first-child{margin-top:26px}footer{padding:20px 0}

.beanslogo{display:block;margin:0 auto;margin-top:20px}